<div class="centerwrap" id='answer'>
   <input name="questions[][answers][]" type="text" placeholder='Choice'><span  class="removeAns"><img src="/images/close.png" width='29px' height='auto'></span>
</div>




