<ul id="header">
	<li><a href="/">Fake Flickr Home</a></li>
	<li><a href="/albums">All Albums</a></li>
	<li><a href="/pictures">All Pictures</a></li>
	<% if logged_in? %>
	<li><a href="/logout">Logout</a></li>
	<li><a href="/user/profile"><%=current_user.name.capitalize %></a></li>
	<% else %>
	<li><a href="/login">Login</a></li>
	<li><a href="/createuser">Sign Up</a></li>
	<% end %>
</ul>