<section class="question_section">
  <label>Question: </label>
  <input type="text" name="questions[]" id="questions"><span class="removeVar">Remove Question</span><br>
    <%= erb :_answer, layout: false %>
    <%= erb :_answer, layout: false %>
    <span id="addAns">Add Answer</span>
</section>

