<section class="question_section centerwrap">
  <input type="text" name="questions[]" id="questions" placeholder='Question Name'><span class="removeVar"><img src="/images/trashicon.png" width='43px' height='auto'></span><br>
    <%= erb :_answer, layout: false %>
    <%= erb :_answer, layout: false %>
    <span id="addAns">Add choice</span>
</section>

