<h1> Create User </h1>
<form action='/createuser' method ="POST">
  <label>Username: <input type="text" name="user[name]" placeholder="username" required></label><br>
  <label>Password: <input type="password" name="user[password]" placeholder="password" required></label><br>
  <input type="submit" value="Create">
</form>