<div class='create_survey centerwrap'>
  <form id="question" action='/create_survey' method="POST">
    <input type="text" name="surveyname" placeholder='Survey Name'>
     <%= erb :_question_partial, layout: false %>
     <p>
    <span id="addVar">Add Question</span>
    </p> 
    <input type="submit" value="Submit">
  </form>
</div>






