

  <label>Question<input name="questions[]" type="text"></label><br>
  <ol>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
</ol>
  <label>Question<input name="questions[]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>
  <label>Answer<input name="questions[][answers][]" type="text"></label><br>

  <input type="submit">


<form id="survey_question" method="post">
  
</form>
