<%= erb :_header %>

<h1>Login</h1>
<form action='/login' method ="POST">
  <label>Username: <input type="text" name="user[name]" placeholder="username" required></label><br>
  <label>Password: <input type="password" name="user[password]" placeholder="password" required></label><br>
  <input type="submit" value="Login">
</form>

