<!-- <!DOCTYPE html> -->
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/other.css">
  </head>
  <body>
        <div class="acme"></div>
        <footer><a href='/'>Go Home Your Drunk</a>
  </body>
</html>
